.image {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('http://nonakaryuichi.github.io/web_acceleration_sample/images/requests-sae4bdc3661.png') no-repeat; }
  .image.type01 {
    background-position: 0 0; }
  .image.type02 {
    background-position: -110px 0; }
  .image.type03 {
    background-position: -220px 0; }
  .image.type04 {
    background-position: -330px 0; }
  .image.type05 {
    background-position: -440px 0; }
  .image.type06 {
    background-position: -550px 0; }
  .image.type07 {
    background-position: -660px 0; }
  .image.type08 {
    background-position: -770px 0; }
  .image.type09 {
    background-position: -880px 0; }
  .image.type10 {
    background-position: -990px 0; }
